

<div class="header flex justify-center items-center h-screen max-h-screen relative overflow-hidden bg-gray-900">
    <!-- <p class="rubik font-bold fixed text-gray-500 leading-none initial">JICL</p> -->
    <div class="flex-1 text-gray-700 text-center px-4 lg:px-24 py-2 m-2">
        <p #cdmx class="rubik text-white text-lg text-left pb-32 sm:pb-20 lg:pb-24 pl-2 lg:pl-24">CDMX - <span class="text-2xl font-bold">{{year}}</span></p>

        <div #developer>
            <span class="space-mono font-bold leading-tight text-white text-center text-title">Developer</span>
        </div>

        <div>
            <div #frontend class="d-line">
                <span class="space-mono font-bold leading-tight text-white text-center text-title">FrontEnd</span>
            </div>
            <div #backend class="d-line">
                <span class="space-mono font-bold leading-tight text-white text-center back">/BackEnd</span>
            </div>
        </div>


        <p #name class="space-mono text-white text-sm sm:text-lg lg:text-lg xl:text-2xl pt-32 sm:pt-20 lg:pt-24 text-right">Josué I. Casasola López</p>

        
    </div>
</div>