

<div class="bg-scroll flex justify-center items-center h-60 bg-black relative overflow-hidden" style="background-image: url(../assets/img/carritoplayero.jpg)">
    <img #carrito src="assets/img/carritoplayero.jpg" alt="" class=" carrito">
    <img #carrito2 src="assets/img/carritoplayero.jpg" alt="" class=" carrito2">
    <div class="flex-1 text-gray-700 text-center px-4 pt-48 m-2 z-index">
        <p class="space-mono text-white text-4xl lg:text-6xl text-center pb-24">CONTACT</p>
        
        <p class="space-mono text-white text-2xl text-center py-3">
            <a href="https://www.instagram.com/josue_casa/" target="_blank"> Instagram </a>
        </p>
        <p class="space-mono text-white text-2xl text-center py-3">
            <a href="mailto:jcasasolalopez@gmail.com" target="_blank"> Correo </a>
        </p>
        <p class="space-mono text-white text-2xl text-center py-3">
            <a href="tel:+5215583883579">Phone</a>
        </p>
        <p class="space-mono text-white text-2xl text-center py-3">
            <a href="https://www.linkedin.com/in/josu%C3%A9-israel-casasola-l%C3%B3pez-31aa89191/" target="_blank"> LinkedIn </a>
        </p>
        <p class="space-mono text-white text-base lg:text-2xl pt-56 pb-16 text-right">Josué I. Casasola López</p>
    </div>
</div>